.movie-poster {
  margin: 10px auto;
  max-width: calc( 100% / 2 );
  min-width: 300px;
}

.movie-screenshot {
  margin-bottom: 10px;
}

.laurels {
  text-align: center;
  img {
    max-height: 150px;
    margin: 20px auto;
    display: inline-block;
   }
  .separator {
    width: 100%;
  }
}