.movie-poster {
  margin: 10px auto;
  max-width: calc( 100% / 2 );
  min-width: 300px;
}

.movie-screenshot {
  margin-bottom: 10px;
}

.laurels {
  text-align: center;
  flex: wrap;
  flex-direction: row;
  img {
    flex-grow: 1;
    max-width: 20%;
    max-height: 150px;
    margin: 20px auto;
   }
  .separator {
    width: 100%;
  }
}