#page-content h2 {
  text-align: right;
  margin: 0px 0 10px;
  text-transform: capitalize;
}

.carousel {
  margin-bottom: 30px;
}

.posts-list {
  margin-top: 20px;
  width: 100%;
  text-align: right;
  ul {
    text-align: right;
    li {
      display: inline-block;
      max-width: 500px;    
      a {
        text-decoration: none;
      }
      h2 {
        margin-bottom: 5px;
      }
      h4 {
        margin-bottom: 5px;
        font-weight: normal;
      }
    }
  }
}