#page-content h2 {
  text-align: right;
  margin: 0px 0 10px;
  text-transform: capitalize;
}

.carousel {
  margin-bottom: 30px;
}

.posts-list {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: right;
  ul {
    text-align: right;
    li {
      display: inline-block;
      margin: 0px;
      max-width: 500px;    
      a {
        text-decoration: none;
      }
      h2 {
        margin-bottom: 5px;
        font-size: 1.2rem;
      }
      h4 {
        margin-bottom: 5px;
        font-weight: normal;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .posts-list {
    p { display: none }
    p.desc-on-mobile { display: block }
  }
}