.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  margin-bottom: 50px;
  .placeholder {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-color: grey;
  }
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}