.website-header footer {
  width: 100%;
  text-align: left;
  opacity: 0.8;
  ul {
    margin-left: 0;
    li {
      text-indent: 0;
      float: left;
      list-style-type: none;
      width: 15%;
      max-width: 30px;
      margin: 0 5% 0 0;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .website-header footer {
    text-align: center;
    ul {
      margin-left: 0;
      li {
        float: none;
        display: inline-block;
        width: 15px;
        margin: 10px 15px;
      }
    }
  }
}