$content-padding: 50px;
$mobile-padding: 20%;
$content-width: 90%;

a {
  color: black;
  &:hover {
    color: #555
  }
}

#site-content {
  width: 100%;
  .layout footer {
    position: fixed;
    left: 0px;
  }
}

.website-header {
  margin-bottom: 1.45em;
  position: fixed;
  padding: $content-padding 10px $content-padding $content-padding;
  width: 20%;
  h1 {
    overflow-wrap: normal;
    word-break: keep-all;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

#page-content {
  float: right; 
  width: $content-width;
  min-width: 600px;
  text-align: right;
  .blog-post-content {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
    padding: $content-padding $content-padding 20px 18%;
    text-align: left;
    .gatsby-resp-image-wrapper {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      max-width: 1920px !important;
    }
  }
  
  .blog-header {
    text-align: right;
    h2 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    h3 {
      font-weight: normal;
      margin-top: 0;
      font-size: 0.8em;
    }
  }
}

@media only screen and (max-width: 800px) {
  .website-header {
    margin-bottom: 0px;
    padding: 20px;
    width: 100%;
    position: initial;
    text-align: center;
    h1 {
      text-align: center;
    }
    footer {
      overflow: hidden;
      margin: 10px auto 0;
      position: initial;
      text-align: center;
      ul li {
        float: none;
        display: inline-block;
        width: 15px;
        margin: 10px 15px;
      }
    }
  }

  #page-content {
    padding: 0px 0px;
    width: 100%;
    min-width: 0px;
    text-align: left;
    .layout {
      padding: 0px;
      .blog-header {
        text-align: left;
        position: initial;
        h1, h2, h3, h4 {
          padding: 0px 5px;
        }
      }
      
      .blog-post-content {
        padding: 0px 5px 20px 5px;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) $mobile-padding, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
        .gatsby-resp-image-wrapper {
          width: 100% !important;
          left: initial !important;
          max-width: initial !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  #site-content {
    h1 {
      font-size: calc(10px + (35 - 10) * ((100vw - 0px) / (1200 - 0)));
    }
    h2, #page-content h2 {
      font-size: calc(10px + 18 * ((100vw - 0px) / (1200 - 0)));
    }
    h3 {
      font-size: calc(10px + 12 * ((100vw - 0px) / (1200 - 0)));
    }
  }
}