$content-padding: 50px;
$content-width: 90%;

a {
  color: black;
  &:hover {
    color: #555
  }
  &:active, &:focus {
    outline: none;
  }
}

footer {
  .newsletter-link { 
    display: none;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: .8rem;
    text-align: center;
  }
}

#flowOverlay {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
}

#site-content {
  width: 100%;
  .layout footer {
    position: fixed;
    left: 0px;
  }
  overflow-x: hidden;
}

h2, h3, h4 {
  color: #333;
}

.home-mosaic-container {
  position: relative;
  min-height: 1.3rem; // Hack for the Blog title
  &>h2, &>h3 {
    position: absolute;
    top: -7px;
    border-style: none none solid solid;
    border-width: 0 0 3px 3px;
    border-color: rgb(255, 255, 255);
    right: -$content-padding;
    background-color: black;
    color: white;
    padding: 5px;
    padding-right: $content-padding;
  }
}

.website-header {
  margin-bottom: 1.45em;
  position: fixed;
  padding: $content-padding 10px $content-padding $content-padding;
  width: 20%;
  h1 {
    overflow-wrap: normal;
    word-break: keep-all;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

#page-content {
  float: right; 
  width: $content-width;
  min-width: 600px;
  max-width: 1200px;
  text-align: right;
  .blog-post-content {
    padding: $content-padding $content-padding 20px 18%;
    text-align: left;
    .gatsby-resp-image-wrapper {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      max-width: 1920px !important;
    }
  }
  
  .blog-header {
    .back-button {
      position: fixed;
      left: 20px;
      top: 70px;
      font-size: 4rem;
      a {
        text-decoration: none;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }

    text-align: right;
    h2 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    h3 {
      font-weight: normal;
      margin-top: 0;
      font-size: 0.8em;
    }
  }

  .blog-post {
    .blog-header {
      h2, h3 {
        padding-right: $content-padding;
      }
    }
  }

  .mobile-footer {
    display: none;
    background-color: white;
  }

  .copyright-footer, .mobile-footer {
    width:100%;
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
  }
  
  .copyright-footer {
      display: block;
      padding-bottom: 20px; // Give some space at bottom
      text-align: right;
      padding-right: $content-padding;
  }

  .subscribe-form {
    position: fixed;
    bottom: 50px;
    left: $content-padding;
    display: block;
    width: 20%;
    text-align: left;

    .screen-reader-text, .message {
      font-size: 0.8rem;
      display: block;
    }
    input, button {
      display: inline;
      width: 100%;
      transition-property: opacity;
      transition-duration: .5s;
    }
    input {
      opacity: .3;
    }
    button {
      opacity: 0;
    }
    button {
      background-color: black;
      color: white;
      font-size: 1rem;
      // line-height: 1rem;
    }
    &:hover button, &:hover input {
      opacity:1;
    }
    .message {
      color: #f77;
    }
  }
}

@media only screen and (max-width: 1000px) {
  #flowOverlay {
    display: none;
  }

  footer {
    ul {
      margin-bottom: 10px;
      height: 1rem;
    }  
    .newsletter-link { 
      display: block;
    }  
  }
  .website-header {
    margin-bottom: 0px;
    padding: 20px;
    width: 100%;
    position: initial;
    text-align: center;
    h1 {
      text-align: center;
    }
    footer {
      overflow: hidden;
      margin: 10px auto 0;
      position: initial;
      text-align: center;
      ul li {
        float: none;
        display: inline-block;
        width: 15px;
        margin: 10px 15px;
      }
    }
  }

  #page-content {
    padding: 0px 0px;
    width: 100%;
    min-width: 0px;
    text-align: left;
    h2, h3 {
      font-size: 1.2rem;
    }
    .layout {
      padding: 0px;
      .blog-header {
        .back-button {
          font-size: 3rem;
          top: 9px;
          position: absolute;
        }
        text-align: left;
        position: initial;
        h2 {
          font-size: 1.3rem;
          text-align: left;
        }
        h1, h2, h3, h4 {
          padding: 0px 5px;
        }
      }
      
      .blog-post-content {
        padding: 0px 5px 20px 5px;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 200px, rgba(255,255,255,1) 500px, rgba(255,255,255,1) 100%);
        .gatsby-resp-image-wrapper {
          width: 100% !important;
          left: initial !important;
          max-width: initial !important;
        }
      }

    }

    .mobile-footer {
      display: block;
      a {
        display: inline;
      }
    }
    .copyright-footer {
      text-align: center;
      background-color: white;
      padding-right: 0px;
      padding-bottom:  130px;
    }
    .subscribe-form {
      background-color: white;
      position: relative;
      bottom: 0px;
      left: 0px;
      display: block;
      width: 100%;
      padding: 0 15%;
      text-align: center;
      margin: 0 auto;
      input {
        opacity: 1;
      }
      button {
        opacity: 1;
      }
    }  
  }
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: calc(10px + (35 - 10) * ((100vw - 0px) / (1200 - 0)));
  }
  h2, h2 {
    font-size: calc(10px + 18 * ((100vw - 0px) / (1200 - 0)));
  }
  h3 {
    font-size: calc(10px + 12 * ((100vw - 0px) / (1200 - 0)));
  }
  #page-content .blog-header {
    .back-button {
      font-size: 3rem;
      top: 65px;
    }
  }

  .website-header {
    h1 {
      font-size: 1.8rem
    }
  }
}