#page-content .carousel {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  .project-thumb {
    flex-grow: 1;
    min-width: 20%;
    box-sizing: content-box;
    position: relative;
    margin: 0;
    img {margin: 0px;}
    a {
      display: block;
    }
    h3 {
      margin: 5px;
      position: absolute;
      bottom: 0px;
      &.light {
        color: #fff;
      }
    }
    .play-image {
      display: none;
    }
    .thumb-overlay {
      position: absolute;
      opacity: 0;
      transition-property: opacity;
      transition-duration: .5s;
      background-color: rgba(255, 255, 255, 0.3);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:hover {
      .thumb-overlay {
        opacity: 1;
      } 
    }
  }
  &.small-thumbs .project-thumb {
    max-width: 20%;
  }
}

@media only screen and (max-width: 800px) {
  #page-content .carousel {
    &.small-thumbs .project-thumb {
      max-width: 33%;
      min-width: 33%;
    }
  }
}