#page-content .carousel {
  width: 100%;
  padding-bottom: 8px; // let the thumbnail labels grow off the thumbnail
  padding-left: 8px;
  overflow: hidden; // Avoid the title label growing off the right from adding a scrollbar
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  .project-thumb {
    flex-grow: 1;
    min-width: 20%;
    box-sizing: content-box;
    position: relative;
    margin: 0;
    img {margin: 0px;}
    a {
      display: block;
    }
    h3 {
      margin: 0px;
      position: absolute;
      bottom: -8px;
      left: -5px;
      font-size: 1em;
      background-color: rgb(255,255,255);
      padding: 2px;
      padding-left: 5px;
      border-style: solid none none solid;
      border-color: black;
      border-width: 1px 0 0px 1px;
      &.light {
        background-color: rgb(0,0,0);
        border-color: white;
        color: #fff;
      }
    }
    .play-image {
      display: none;
    }
    .thumb-overlay {
      position: absolute;
      opacity: 0;
      transition-property: opacity;
      transition-duration: .5s;
      background-color: rgba(255, 255, 255, 0.3);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:hover {
      .thumb-overlay {
        opacity: 1;
      } 
    }
  }
  &.small-thumbs .project-thumb {
    max-width: 20%;
  }
}

@media only screen and (max-width: 800px) {
  #page-content .carousel {
    padding-left: 0px;
    .project-thumb {
      font-size: calc(6px + 18 * ((100vw - 0px) / (1200 - 0)));
    }
    &.small-thumbs .project-thumb {
      max-width: 33%;
      min-width: 33%;
    }
  }
}