h3 {
    color: #888;
    & strong {
        color: black
    }
}

.footer-text {
    text-align: right;
    font-size: 0.8rem;
    margin: 0px;
    hr {
        margin: 0px
    }
    .carousel {
        margin-top: 0
    }
}