.player-wrapper {
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  margin-bottom: 50px;
  position: relative;
  .placeholder {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    color: grey;
  }
}

.framed {
  border: solid white;
  border-width: 10px 10px;
  -webkit-box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.45); 
  box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.45);
  border-radius: 10px;
  & .player-wrapper {
    margin-bottom: 0px;
  }
  margin-bottom: 30px;
  & .caption {
    background-color: white;
    padding: 20px;
    color: #555;
    font-size: 0.9rem;
  }
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}