.page-transition-enter, .page-transition-enter-active, .page-transition-exit, .page-transition-exit-active {
  display: block;
}

.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}